* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 4em;
}

h1 {
  font-size: 82px;
  padding-bottom: 16px;
  color: #dfaca1;
}

p {
  font-size: 28px;
  color: #dfaca1;
}